
@{
    ViewBag.Title = "_Layout2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />

    <script type="text/javascript">
  if(history.forward(1)){
    location.replace( history.forward(1) );
  }
    </script>
    <title>ADMIS</title>
    <link rel="stylesheet" href="~/assent/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assent/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assent/css/typicons.min.css">
    <link rel="stylesheet" href="~/assent/css/varello-theme.min.css">
    <link rel="stylesheet" href="~/assent/css/varello-skins.min.css">
    <link rel="stylesheet" href="~/assent/css/animate.min.css">
    <link rel="stylesheet" href="~/assent/css/icheck-all-skins.css">
    <link rel="stylesheet" href="~/assent/css/icheck-skins/flat/_all.css">
    <link href='https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="57x57" href="~/assent/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assent/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assent/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assent/-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assent/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assent/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assent/-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assent/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assent/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assent/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assent/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assent/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assent/favicon-16x16.png">
    <link rel="manifest" href="~/assent/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="notifications top-right"></div>
    
 

    <script src="~/assent/js/Chart.min.js"></script>
    <script src="~/assent/js/jquery-1.12.3.min.js"></script>
    <script src="~/assent/js/bootstrap.min.js"></script>
    <script src="~/assent/js/jquery.piety.min.js"></script>
    <script src="~/assent/js/varello-theme.js"></script>
    <script src="~/assent/js/icheck.min.js"></script>
    <script src="~/assent//dropdown.js"></script>
    @RenderBody()
</body>


</html>


