@{
    ViewBag.Title = "Almacen Dulce Hogar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<header class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header-heading"><span class="typcn typcn-clipboard page-header-heading-icon"></span> @ViewBag.Title.</h1>

            </div>
        </div>
    </div>
</header>
<br />

<div class="row">

<div class="col-lg-4">
    <div class="widget widget-statistic widget-primary">
        <header class="widget-statistic-header">REPORTE</header>
        <div class="widget-statistic-body">
            <br />
            <br />
            <span class="widget-statistic-description"><a href="#">Productos general</a></span>
            <span class="widget-statistic-icon glyphicon glyphicon-list-alt"></span>
        </div>
    </div>
</div>

    <div class="col-lg-4">
        <div class="widget widget-statistic widget-primary">
            <header class="widget-statistic-header">REPORTE</header>
            <div class="widget-statistic-body">
                <br />
                <br />
                <span class="widget-statistic-description"><a href="#">Productos por sucursal</a></span>
                <span class="widget-statistic-icon glyphicon glyphicon-list-alt"></span>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
    <div class="widget widget-statistic widget-primary">
        <header class="widget-statistic-header">REPORTE</header>
        <div class="widget-statistic-body">
            <br />
            <br />
            <span class="widget-statistic-description"><a href="#">Clientes en mora</a></span>
            <span class="widget-statistic-icon glyphicon glyphicon-list-alt"></span>
        </div>
    </div>
</div>
    <div class="col-lg-4">
        <div class="widget widget-statistic widget-primary">
            <header class="widget-statistic-header">REPORTE</header>
            <div class="widget-statistic-body">
                <br />
                <br />
                <span class="widget-statistic-description"><a href="#">Traslados</a></span>
                <span class="widget-statistic-icon glyphicon glyphicon-list-alt"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget widget-statistic widget-primary">
            <header class="widget-statistic-header">REPORTES</header>
            <div class="widget-statistic-body">
                <br />
                <br />
                <span class="widget-statistic-description"><a href="#">Bajas</a></span>
                <span class="widget-statistic-icon glyphicon glyphicon-list-alt"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget widget-statistic widget-primary">
            <header class="widget-statistic-header">REPORTE</header>
            <div class="widget-statistic-body">
                <br />
                <br />
                <span class="widget-statistic-description"><a href="#">Financiaciones</a></span>
                <span class="widget-statistic-icon glyphicon glyphicon-list-alt"></span>
            </div>
        </div>
    </div>

</div>
    
<br />


<div class="row">
        

            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="widget widget-statistic-mini widget-info">
                    <div class="widget-statistic-body">
                        <span class="widget-statistic-value"><a href="~/Tb_Clientes/Create">Clientes</a></span>
                       
                    </div>
                </div>
            </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="widget widget-statistic-mini widget-info">
            <div class="widget-statistic-body">
                <span class="widget-statistic-value"><a href="~/Ventas/Create">Ventas</a></span>

            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="widget widget-statistic-mini widget-info">
            <div class="widget-statistic-body">
                <span class="widget-statistic-value"><a href="~/Entradas/Create">Entradas</a></span>

            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="widget widget-statistic-mini widget-info">
            <div class="widget-statistic-body">
                <center>
                    <span class="widget-statistic-value"><a href="~/Traslados /Create">   Traslados</a></span>
                </center>

            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="widget widget-statistic-mini widget-info">
            <div class="widget-statistic-body">
                <span class="widget-statistic-value"><a href="~/Bajas/Create">Bajas</a></span>

            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="widget widget-statistic-mini widget-info">
            <div class="widget-statistic-body">
                <span class="widget-statistic-value"><a href="~/Tb_Productos/Index">Productos</a></span>

            </div>
        </div>
    </div>

        </div>

        