@model IEnumerable<Proyecto.Models.Tb_Estados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header-heading"><span class="typcn typcn-clipboard page-header-heading-icon"></span>ESTADOS</h1>
            </div>
        </div>
    </div>
</header>

<br />

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 col-xs-12">
            <div class="widget widget-default">
                <header class="widget-header">
                    Consultar Estado
                </header>
                <div class="widget-body">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th>
                                    <label id="lblid" class="control-label">Código</label>
                                </th>
                                <th>
                                    <label id="lblid" class="control-label">Estado</label>
                                </th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    
                                    
                                    <td class="text-right ">
                                    <button class="btn btn-primary" style="border-color:white;"><span class="fa fa-pencil"></span><span class="hidden-xs hidden-sm hidden-md"></span>@Html.ActionLink(" Editar", "Edit", new { id = item.Id })</button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>

    </div>

